main{
    height: auto;
    background-color: #272637;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #F9C4AC;
    border-radius: 20px;
    text-align: center;
}

footer{
    height: auto;
    background-color: #272637;
    border: 2px solid #F9C4AC;
    border-radius: 20px;
    text-align: center;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Jomhuria-Regular.ttf);
}

*{
    font-family: myFont;
    color: white;
    font-size: x-large;
}
    
li{
    display:inline;
    width: 35vh;
    margin-left: auto;
    margin-right: auto;
    font-family: myFont;
}

#nav li:hover {
    background-color: #F9C4AC;
}
#nav li a:hover{
    color: #272637;
}

ul{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
nav{
    width: 98%;
    display: block;
    position: relative;
    background: #272637;
    top: 1vh;
    margin-left: auto;
    margin-right: auto;
}
header{
    position: relative; 
    top: 0;
    left:0;
    background-color: #272637;
    height: 10vh;
    border: 2px solid #F9C4AC;
    border-radius: 20px;
}

#nav {
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-family: myFont;

}
#nav li {
    display: inline-block;
    position: relative;
    background: #272637;
    z-index: 1;
    font-family: myFont;
}

#nav li a {
    display: inline-block;
    padding: 0;
    text-decoration: none;
    width: 100%;
    line-height: 200%;
    color: #F9C4AC;
}

@font-face {
    font-family: font2;
    src: url(../fonts/B\ Arash.ttf);
}

.h21{
    font-family: font2;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    padding: 40px;
    background-color: #626F92;
    border: 2px solid #F9C4AC;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    box-shadow: 5px 10px 50px black;
}

.one{
    grid-row: 1;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    border: 2px solid #F9C4AC;
    border-radius: 20px;
}

.two{
    grid-row: 2;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    border: 2px solid #F9C4AC;
    border-radius: 20px;
    margin-top: 20px;
}

.three{
    grid-row: 3;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    border: 2px solid #F9C4AC;
    border-radius: 20px;
    margin-top: 20px;
}

.wrapImg{
    margin-top: 10px;
    border-radius: 180px;
}

.wrapImg2{
    margin-top: 10px;
    border-radius: 30px;
}

.one:hover{
    background-color: #F9C4AC;
    cursor: pointer;
}

.one:hover p{
    color: #272637;
}


.two:hover{
    background-color: #F9C4AC;
    cursor: pointer;
}

.two:hover p{
    color: #272637;
}

.three:hover{
    background-color: #F9C4AC;
    cursor: pointer;
}

.three:hover p{
    color: #272637;
}